name: automerge
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    env:
      MERGE_LABELS: '' 
      GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
      MERGE_FILTER_AUTHOR: gnykka
      MERGE_LABELS: !wip 
    runs-on: ubuntu-latest
    steps:
      - name: automerge 
        uses: "pascalgn/automerge-action@f81beb99aef41bb55ad072857d43073fba833a98"
